@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');
*:focus {
  outline: 0 !important;
}

/* Common Section */

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  background-color: rgb(255, 255, 255);
  color: white;
  box-sizing: border-box;
  min-height: 100vh;
  width: 100vw;
  scroll-behavior: smooth;
  -webkit-font-smoothing: subpixel-antialiased;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Header Section */

.hheader {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 2vh;
  font-size: 7vh;
  height: 80vh;
  width: 100%;
  background-image: url('./assets/bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hheader__item-1 {
  margin-top: -41vh;
  font-size: 7rem;
  color: #c5fdc9;
  text-shadow: -0.34vh 0 0.56vh rgb(36 36 36);
}
.hheader__item-2 {
  text-align: center;
  color: #c5fdc9;
  text-shadow: -0.34vh 0 0.56vh rgb(36 36 36);
  font-size: 2rem;
}

@media only screen and (max-width: 600px) {
  .hheader__item-1 {
    font-size: 5rem;
  }
}

@media only screen and (max-width: 700px) {
  .hheader__item-2 {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 400px) {
  .hheader__item-1 {
    font-size: 4rem;
  }
  .hheader__item-2 {
    font-size: 1rem;
  }
}

/* Main Section */

.mmain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 5%;
  width: 100%;
  background: #000000;
  background: -webkit-linear-gradient(to right, #434343, #000000);
  background: linear-gradient(to right, #434343, #000000);
}

/* About Us Section */

.mmain__section-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4vw;
  margin-bottom: 4vh;
  width: 100%;
  height: 60vh;
}

.mmain__section-1__item-1 {
  width: 60vw;
  height: 30vh;
  outline: none;
  background-repeat: no-repeat;
  background-size: contain;
  background-clip: content-box;
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}

.mmain__section-1__item-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mmain__section-1__item-2__sub-item-1 {
  color: #c5fdc9;
  font-size: 8vh;
}

.mmain__section-1__item-2__sub-item-2 {
  color: #c5fdc9;
  word-wrap: break-word;
  font-size: 4vh;
}

@media only screen and (max-width: 700px) {
  .mmain__section-1__item-2__sub-item-1 {
    font-size: 8vh;
  }
  .mmain__section-1__item-2__sub-item-2 {
    font-size: 2.5vh;
  }
}

@media only screen and (max-width: 500px) {
  .mmain__section-1__item-2__sub-item-1 {
    font-size: 7vh;
  }
  .mmain__section-1__item-2__sub-item-2 {
    font-size: 2vh;
  }
}

/* Mission Section */

.mmain__section-2 {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap: 4vw;
  margin-bottom: 4vh;
  width: 100%;
  height: 60vh;
}

.mmain__section-2__item-1 {
  width: 61vw;
  height: 30vh;
  background-repeat: no-repeat;
  background-size: contain;
  background-clip: content-box;
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
}

.mmain__section-2__item-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mmain__section-2__item-2__sub-item-1 {
  color: #c5fdc9;
  font-size: 8vh;
}

.mmain__section-2__item-2__sub-item-2 {
  color: #c5fdc9;
  word-wrap: break-word;
  font-size: 4vh;
}

@media only screen and (max-width: 700px) {
  .mmain__section-2__item-2__sub-item-1 {
    font-size: 8vh;
  }
  .mmain__section-2__item-2__sub-item-2 {
    font-size: 2.5vh;
  }
}

@media only screen and (max-width: 500px) {
  .mmain__section-2__item-2__sub-item-1 {
    font-size: 7vh;
  }
  .mmain__section-2__item-2__sub-item-2 {
    font-size: 2vh;
  }
}
/* 3rd Section */

.mmain__section-3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4vw;
  margin-bottom: 4vh;
  width: 100%;
  height: 60vh;
}

.mmain__section-3__item-1 {
  width: 60vw;
  height: 30vh;
  background-repeat: no-repeat;
  background-size: contain;
  background-clip: content-box;
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}

.mmain__section-3__item-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mmain__section-3__item-2__sub-item-1 {
  color: #c5fdc9;
  font-size: 8vh;
}

.mmain__section-3__item-2__sub-item-2 {
  color: #c5fdc9;
  word-wrap: break-word;
  font-size: 4vh;
}

@media only screen and (max-width: 700px) {
  .mmain__section-3__item-2__sub-item-1 {
    font-size: 8vh;
  }
  .mmain__section-3__item-2__sub-item-2 {
    font-size: 2.5vh;
  }
}

@media only screen and (max-width: 500px) {
  .mmain__section-3__item-2__sub-item-1 {
    font-size: 7vh;
  }
  .mmain__section-3__item-2__sub-item-2 {
    font-size: 2vh;
  }
}
